@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: 'Roboto', sans-serif;  
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}
input[type=number] {
  -moz-appearance: textfield;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

nextjs-portal {
  display: none;
}